@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@300;400;500;700&family=Roboto:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ' Roboto', sans-serif;
}

.form {
    width: 100%;
    position: absolute;
    /*left: 0;*/
    bottom: 0;
    background: rgba(0, 0, 0, .15);
    padding: 5px;
    display: flex;
    height: 50px;
    align-items: center;
    backdrop-filter: blur(10px);
}

.name {
    height: 35px;
    background: beige;
    padding: 15px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #222;
    font-size: 14px;
    font-weight: 300;
}

.input {
    height: 35px;
    border-radius: 30px;
    border: none;
    margin: 5px;
    padding: 0 25px;
    display: flex;
    width: 100%;
    outline: none;
}

.btn {
    background: #222;
    border: none;
    width: 100px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    color: white;
    border-radius: 5px;
}

.messages {
    list-style: none;
    margin: 0;
    padding: 0;
}

.messages > li {
    padding: 10px;
}

.messages > li > span {
    font-weight: 500;
}

.messages > li:nth-child(odd) {
    background: blanchedalmond;
}

.container {
    display: flex;
    flex-direction: row;
}

.chat {
    position: relative;
    width: 100%;
}

.chat-list {
    width: 20%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .15);
    display: flex;
    flex-direction: column;
    border-right: 2px solid #fff;
}

.chat-header {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    color: #000;
}

.chat-item {
    background-color: #fff;
    border-radius: 10px;
    height: 50px;
    width: 90%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active{
    background-color: #222222;
    color: #fff;
}